@import './variables.css';

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* roboto-regular - cyrillic_latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
	src: url('../assets/fonts/roboto-v30-cyrillic_latin-regular.woff2') format('woff2'),
		/* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
			url('../assets/fonts/roboto-v30-cyrillic_latin-regular.ttf') format('truetype');
}

:root {
	font-family: 'Roboto';
	font-size: var(--font-size);
	color-scheme: dark light;
	/* supported-color-schemes: dark light; */
}
* {
	font-family: 'Roboto';
}

h1 {
	font-size: 3em;
	text-transform: uppercase;
}
h2 {
	font-size: 2em;
	text-transform: uppercase;
}
h3 {
	font-size: 1.5em;
	/* text-transform: uppercase; */
}
h4 {
	font-size: 1.2em;
	/* text-transform: uppercase; */
}
h5 {
	font-size: 1em;
	/* text-transform: uppercase; */
}

@media (prefers-color-scheme: dark) {
	:root {
		color: var(--dark-font-primary-color);
	}
	::selection {
		background-color: var(--dark-selection-color);
	}

	body {
		background-color: var(--dark-background-color);
	}
	mark {
		background-color: var(--dark-highlight-color);
		color: inherit;
	}
	hr {
		color: var(--dark-highlight-color);
	}

	.highlight {
		background-color: var(--dark-highlight-color);
	}
}
@media (prefers-color-scheme: light) {
	:root {
		color: var(--light-font-primary-color);
	}
	::selection {
		background-color: var(--light-selection-color);
	}

	body {
		background-color: var(--light-background-color);
	}
	mark {
		background-color: var(--light-highlight-color);
		color: inherit;
	}
	hr {
		color: var(--light-highlight-color);
	}

	.highlight {
		background-color: var(--light-highlight-color);
	}
}
